
<nav>
    <br><p><i class="fa-solid fa-house">&nbsp;&nbsp;<%= link_to"ホーム" %></i></p>
    <p><i class="fa-solid fa-hashtag">&nbsp;&nbsp;<%= link_to "話題を検索" %></i></p>
    <p><i class="fa-solid fa-bell">&nbsp;&nbsp;<%= link_to "通知" %></i></p>
    <p><i class="fa-solid fa-envelope">&nbsp;&nbsp;<%= link_to "メッセージ" %></i></p>
    <p><i class="fa-solid fa-bookmark">&nbsp;&nbsp;<%= link_to "ブックマーク" %></i></p>
    <p><i class="fa-solid fa-newspaper">&nbsp;&nbsp;<%= link_to "リスト" %></i></p>
    <p><i class="fa-solid fa-user">&nbsp;&nbsp;<%= link_to "プロフィール" %></i></p>
    <p><i class="fa-solid fa-bars">&nbsp;&nbsp;<%= link_to "もっと見る" %></i></p>
</nav>

<p1><i class="fa-brands fa-twitter">&nbsp;&nbsp;<%= link_to 'ツイートする', new_tweet_path %></i></p1>